@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans-bold.woff') format('woff');
}
html,body{
    background-color:#e5e9ec;
    color: #000;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow-x: hidden;
}
.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
}
.navbar-expand .navbar-nav li a{
    font-size: 16px;
}
.navbar-expand .navbar-nav .dropdown-menu{
    overflow: visible;
    min-width: 160px;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.navbar-expand .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .dropdown-menu .dropdown-item:focus{
    background-color: #fff0;
    color: #ff0000;
    outline: none;
}
.layout-fixed .main-sidebar{
    background-color: #1E202D;
}
.sidebar .os-content{
    padding: 0 !important;
}
.sidebar .nav-pills .nav-link{
    border-radius: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    line-height: 20px;
}
.sidebar .nav-sidebar .nav-item:hover>.nav-link, .sidebar .nav-sidebar .nav-item.menu-open>.nav-link, .sidebar .nav-sidebar .nav-item>.nav-link:focus{
    background-color: #14141b;
}
.sidebar .nav-sidebar .nav-item.menu-open>.nav-link{
    border-left: 2px solid #fff;
}
.nav-sidebar .menu-open>.nav-link i.right{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar .nav-sidebar .nav-treeview li a{
    padding-left: 45px;
}
#customer-model .modal-dialog{
    max-width: 600px;
    margin: 30px auto;
}
#customer-form .form-group{
    padding: 0 15px;
    display: flex;
}
#customer-form label{
    width: 25%;
    float: left;
    line-height: 30px;
}
#customer-form .form-control{
    width: 75%;
    float: left;
    border-color: #f6f8f9;
    background-color: #f6f8f9;
    transition: background .5s;
}
.table th, .table td{
    font-size: 13px;
    padding: 8px 10px;
    vertical-align: inherit;
}